@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-webfont.eot');
    src: url('../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica-webfont.woff2') format('woff2'),
    url('../fonts/helvetica-webfont.woff') format('woff'),
    url('../fonts/helvetica-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: helvetica, Tahoma, Arial, sans-serif;
    background: url('../img/bg_main.png') no-repeat;
    background-size: 100%;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.header {
    width: 100%;
    background: url(../img/bg-menu.png) repeat-x;
}

.main {
    width: 100%;
    height: 1064px;
    margin: 0 auto;
}

.menu {
    display: inline-block;
    float: right;
    margin-right: 1%;
}

.menu > a {
    font-size: 14px;
    text-align: center;
    color: #60b5ed;
    padding: 10px 10px 10px;
    text-decoration: none;
    height: inherit;
    display: inline-block;
}

.menu > a:hover {
    background: #4eabda;
    color: white;
}

.menu > a:nth-child(5) {
    border-right: #56a2dc 1px solid;
}

.menu-left, .menu-right {
    display: inline-block;
}

.menu-left > a, .menu-right > a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 10px 10px;
    display: inline-block;
    height: inherit;
}

.menu-left > img {
    display: inline-block;
}

.menu-right > a, input:last-child {
    background: linear-gradient(
            to top, rgba(0, 0, 0, 0.3) 20%, rgba(78, 171, 218, 0.3) 50%,
            rgba(255, 255, 255, 0.3) 100%), #4299d2;;
    background-blend-mode: overlay;
    border: #4299d2 1px solid;
}

.content {
    padding: 15% 20%;
}

.content-header, .content-form {
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
}

.content-form {
    margin-top: 0;
    padding-bottom: 20px;
}

.content-form img {
    margin: 5% 30% 0;
}

.content-form a {
    display: block;
}

.content-header > p {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 20px;
}

.form {
    width: inherit;
    margin-left: 30%;
}

form {
    position: relative;
    width: 100%;
}

label {
    color: white;
}

input:focus {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1b5288;
    background-blend-mode: color-dodge;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 5px 2px rgba(0, 0, 0, 0.2),
    0 0 1px rgba(75, 75, 75, 1),
    0 0 9px 1px rgba(47, 127, 197, 0.77);
}

input:focus::placeholder {
    color: white;
}

input::placeholder {
    color: #cccccc;
}

input {
    display: block;
    align-content: center;
    width: 42%;
    background: #0f0f0f;
    color: white;
    border-right: 0;
    border-bottom: grey 1px solid;
    margin: 10px 0 20px;
    line-height: 35px;
    padding-left: 5%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2) inset,
    inset -1px -1px 1px -1px rgba(255, 255, 255, 1);
}

input:nth-child(6), label {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

label {
    margin-left: 2px;
    color: #cccccc;
    padding-bottom: 8px;
}

input:first-child {
    margin-top: 20px;
}

input:last-child {
    color: white;
    width: 30%;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10%;
    border-radius: 2px
}

.footer {
    margin-top: 10px;
    width: 45%;
    margin-left: 25%;
    position: relative;
}

.footer p {
    color: #cccccc;
    font-size: 11px;
    text-align: center;
}