@media screen and (min-width: 480px) and (max-width: 767px) {
    header {
        height: 529px;
    }

    .image {
        display: block;
    }

    .list_menu li {
        list-style: none;
    }

    /*HEADER MENU*/
    .header_menu {
        width: 480px;
        padding-top: 30px;
    }

    .header_menu__img {
        margin-left: 162px;
    }

    .header_menu__menu {
        box-sizing: border-box;
        background: rgba(54, 41, 62, 0.9);
        border: 1px solid black;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 #6d507a;
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 #6d507a;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 #6d507a;
        border-radius: 7px;
        width: 245px;
        height: 257px;
        position: absolute;
        top: 110px;
        left: 117px;
    }

    .header_menu__menu li {
        padding: 15px;
        padding-bottom: 6px;
        padding-top: 11px;
        text-align: center;
        border-bottom: 1px solid #35273d;
        -webkit-box-shadow: inset 0 -1px 0 rgba(105, 82, 144, 0.59);
        -moz-box-shadow: inset 0 -1px 0 rgba(105, 82, 144, 0.59);
        box-shadow: inset 0 -1px 0 rgba(105, 82, 144, 0.59);
    }

    .header_menu__menu li:last-child {
        border-bottom: none;
    }

    .header_menu__menu li:first-child {
        padding-top: 15px;
    }

    .header_menu__menu li:nth-child(2) {
        background: rgba(0, 0, 0, 0.3);
        background-blend-mode: multiply;
        border-bottom: #edbfff 2px solid;
    }

    .header_menu__menu a:hover {
        border-bottom: 2px solid #edbfff;
    }

    /*HEAR SLIDE*/
    .header_slide {
        margin-top: 95px;
        height: 245px;
    }

    .header_slide_img {
        height: 245px;
        width: 480px;
    }

    .header_slide_article__header {
        font-size: 36px;
    }

    .header_slide_article__subheader {
        font-size: 18px;
    }

    .header_slide_article p {
        display: none;
    }

    .header_slide_img_arrow__left {
        top: 11%;
        left: -13%;
    }

    .header_slide_img_arrow__right {
        top: 11%;
        right: -36%;
    }

    .header_slide_article {
        margin: 20% 0 0 8%;
        width: 68%;
    }

    .header_slide_img__img {
        width: 192px;
        top: -10px;
        right: 32px;
    }

    .header_slide_shapes {
        width: 480px;
        margin: 0 auto;
    }

    .header_slide_shapes img {
        margin-top: 22px;
        margin-left: 42%;
    }

    /*SECTION DESCRIPTION*/
    .description {
        height: 600px;
    }

    .section_description {
        width: 480px;
        margin: 0 auto;
        padding-top: 77px;
    }

    section h2 {
        font-size: 24px;
        margin-bottom: 0.5%;
        word-spacing: -2px;
    }

    section p {
        line-height: 1.5;
        word-spacing: -0.5px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .section_description_article {
        overflow: hidden;
        box-sizing: border-box;
        margin-bottom: 3%;
    }

    .section_about_description {
        box-sizing: border-box;
        width: 80%;
        margin-left: 17.5%;
        margin-bottom: 5.5%;
    }

    .section_about_description:nth-child(2) {
        margin-bottom: 6.4%;
    }

    .section_about_description_sprite {
        position: absolute;
        background: url(../img/logos_about.png) no-repeat;
        width: 29px;
        height: 31px;
    }

    .sprite_clue, .sprite_message, .sprite_notes {
        background-position: 0 0;
        top: -1px;
        left: -53px;
    }

    .section_about_links {
        display: none;
    }

    .nav_link {
        display: inline-block;
        margin-left: 82%;
    }

    /*SECTION MAIM*/
    .main {
        height: 780px;
    }

    .section_main {
        width: 480px;
        margin: 0 auto;
    }

    .main_article {
        width: 88%;
        vertical-align: top;
        margin-top: 12.6%;
        margin-left: 9%;
        height: auto;

    }

    .main_article:last-child {
        margin-left: 11%;
        margin-top: 3%;
    }

    .main_article:last-child h2 {
        font-size: 30px;
    }

    .main_article:last-child p {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;;
    }

    .article_article {
        padding-left: 9%;
        padding-bottom: 0;
    }

    .main_article__article {
        margin-bottom: 15%;
        margin-top: 9%;
    }

    .main_article__img {
        top: 22px;
        left: -25px;
    }

    .main h2 {
        font-size: 30px;
    }

    .main p, h5 {
        font-size: 16px;
    }

    .main_article__article p {
        letter-spacing: 0.5px;
        padding-left: 0;
        margin-top: 2%;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    .main_article__article p:last-child {
        display: none;
    }

    .article_main_image_nav {
        margin-left: 38%;
    }

    .article_update {
        padding-left: 6.6%;
        padding-top: 8%;
    }

    .main h5 {
        line-height: 1.5;
    }

    .article_update__text {
        margin-top: 3.5%;
        padding-left: 17%;
        margin-bottom: 6px;
        padding-right: 15%;
    }

    .sprite_1 {
        background-position: 0 0;
        top: 29%;
        left: 7%;
    }

    .sprite_2 {
        background-position: 0 -45px;
        top: 54%;
        left: 7%;
    }

    .sprite_3 {
        background-position: 0 -93px;
        top: 79%;
        left: 7%;
    }

    .update_nav_link {
        display: inline-block;
        margin-left: 66%;
        font-size: 18px;
        color: #454545;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        text-decoration: none;
        margin-top: 18px;
    }


    /*BRANDS*/
    .brands {
        height: 233px;
    }

    .brands_image {
        width: 480px;
        margin: 0 auto;

    }

    .logo_1, .logo_2, .logo_3 {
        top: 34px;
    }

    .logo_4, .logo_5, .logo_6 {
        top: 123px;
    }

    .logo_1 {
        left: 17%;
    }

    .logo_2 {
        left: 43%;
        width: 71px;
        background-position: -136px;
    }

    .logo_3 {
        left: 69%;
        width: 67px;
        background-position: -271px;
    }

    .logo_4 {
        left: 12%;
        width: 59px;
        background-position: -406px;
    }

    .logo_5 {
        left: 36.5%;
        width: 112px;
        background-position: -532px;
    }

    .logo_6 {
        left: 70.5%;
        width: 85px;
        background-position: -707px;
    }

}