@media screen and (min-width: 960px) {
    header {
        height: 848px;
    }

    .list_menu li {
        float: left;
    }

    .list_menu a {
        display: block;
    }

    .nav_link {
        display: none;
    }

    /*HEADER MENU*/
    .header_menu {
        width: 960px;
        padding-top: 52px;

    }

    .header_menu__img img {
        float: left;
    }

    .header_menu__menu {
        float: right;
        margin-top: 25px;
    }

    .header_menu__menu li {
        margin-right: 25px;
        margin-left: 15px;
    }

    .header_menu__menu li:last-child {
        margin-right: -2px;
    }

    .header_menu__menu a:hover {
        border-bottom: 2px solid #edbfff;
    }

    /*HEAR SLIDE*/
    .header_slide {
        margin-top: 164px;
        height: 402px;
    }

    .header_slide_img {
        height: 402px;
        width: 960px;
    }

    .header_slide_article__header {
        font-size: 60px;
        letter-spacing: -0.9px;
    }

    .header_slide_article__subheader {
        font-size: 32px;
        letter-spacing: -0.9px;
        line-height: 0.8;
        word-spacing: 2.3px;
    }

    .header_slide_article p {
        margin-top: 1%;
        font-size: 18px;
        line-height: 1.35;
        word-spacing: -0.3px;
    }

    .header_slide_img_arrow__left {
        top: 45%;
        left: -17%;
    }

    .header_slide_img_arrow__right {
        top: 45%;
        right: -100%;
    }

    .header_slide_article {
        margin-top: 8.5%;
        width: 51%;
    }

    .header_slide_img__img {
        top: -16px;
        right: 70px;
    }

    .header_slide_shapes {
        width: 960px;
        margin: 0 auto;
    }

    .header_slide_shapes img {
        margin-top: 93px;
        margin-left: 713px;
    }

    /*SECTION DESCRIPTION*/
    .description {
        height: 342px;
    }

    .section_description {
        width: 960px;
        margin: 0 auto;
        padding-top: 80px;
    }

    section h2 {
        margin-bottom: 2%;
        word-spacing: -3px;
    }

    section p {
        line-height: 1.5;
        word-spacing: -0.5px;
    }

    .section_about_description {
        box-sizing: border-box;
        width: 33%;
    }

    .section_description_article {
        padding-left: 20%;
    }

    .section_about_description:nth-child(2) .section_description_article {
        padding-left: 26%;
    }

    .section_about_description:last-child .section_description_article {
        padding-left: 31%;
    }

    .section_about_description_sprite {
        position: absolute;
        background: url(../img/logos_about.png) no-repeat;
        width: 29px;
        height: 31px;
    }

    .sprite_clue {
        background-position: 0 0;
        top: 3px;
        left: 9px;
    }

    .sprite_message {
        background-position: -29px 0;
        top: 3px;
        left: 29px;
    }

    .sprite_notes {
        background-position: -59px 0;
        top: 3px;
        left: 46px;
    }

    .section_about_links {
        margin: 0 auto;
        width: 960px;
    }

    .section_about_links__nav {
        width: 100%;
        margin-left: 13%;
        margin-top: 17px;
    }

    .section_about_links__nav li {
        text-align: right;
        margin-left: 10%;
        margin-right: 20%;
    }

    .section_about_links__nav li:last-child {
        margin-right: 0;
        margin-left: 9%;
    }


    /*SECTION MAIM*/
    .section_main {
        width: 960px;
        margin: 0 auto;
    }

    .main_article {
        width: 44.5%;
        vertical-align: top;
        margin-top: 9.6%;
        margin-left: 2.5%;
    }

    .main_article:last-child {
        width: 49.5%;
    }

    .article_article {
        padding-left: 9.6%;
    }

    .main_article__article {
        margin-bottom: 15%;
        margin-top: 9%;
    }

    .main_article__img {
        top: 22px;
        left: -24px;
    }

    .main_article__article p {
        letter-spacing: 0.5px;
        padding-left: 4px;
        margin-top: 2%;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    .main_article__article p:last-child {
        display: none;
    }

    .article_main_image_nav {
        margin-left: 40%;
    }

    .article_update {
        padding-left: 6.6%;
        padding-top: 8%;
    }

    .main h5 {
        line-height: 1.5;
    }

    .article_update__text {
        margin-top: 2.5%;
        padding-left: 15%;
        margin-bottom: 5px;
    }

    .sprite_1 {
        background-position: 0 0;
        top: 30%;
        left: 7%;
    }

    .sprite_2 {
        background-position: 0 -45px;
        top: 54%;
        left: 7%;
    }

    .sprite_3 {
        background-position: 0 -93px;
        top: 79%;
        left: 7%;
    }

    .update_nav_link{
        display: inline-block;
        margin-left: 79.5%;
        font-size: 18px;
        color: #454545;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        text-decoration: none;
        margin-top: 24px;
    }


    /*BRANDS*/
    .brands_image {
        width: 960px;
        margin: 0 auto;

    }

    .logo_1 {
        left: 10%;
    }

    .logo_2 {
        left: 24%;
        width: 71px;
        background-position: -136px;
    }

    .logo_3 {
        left: 38%;
        width: 67px;
        background-position: -271px;
    }

    .logo_4 {
        left: 52%;
        width: 59px;
        background-position: -406px;
    }

    .logo_5 {
        left: 65%;
        width: 105px;
        background-position: -532px;
    }

    .logo_6 {
        left: 83%;
        width: 71px;
        background-position: -707px;
    }

}





